<div class="jumbotron jumbotron-fluid">
    <span class="title-bg">
        <h1 class="display-3">HomePro</h1>
        <p class="lead">Life. Inventoried.</p>
    </span>
</div>

<!-- source - https://hackerthemes.com/bootstrap-cheatsheet/ -->