body {
    background-color: aqua;
}

.container {
    width: 100%;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    max-width: 250px;
    margin-bottom: 30px;
    font-size: .8rem;
}

.desc {
    height: 100px;
    overflow: hidden;
}

.jumbotron {
    background-image: url(../home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    color: rgb(255, 255, 255);
    padding-left: 50px;
    margin: 0px;
}

.title-bg{
    background-color: rgb(0, 0, 0, .35);
    padding: 20px;
    display: block;
}

.subheader {
    min-height: 60px !important;
    display: flex;
    padding: 20px;
    font-weight: 600;
    font-size: 2em;
    background-color: #E7E7E7 !important;
    /* align-items: right; */
    /* justify-content: right; */
    color: #4f4f4f;
    margin-bottom: 50px;
}

i {
    margin-right: 20px;
}

