<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
    <title>Users Index Page</title>
</head>

<body>
    <%- include ('./partials/jumbotron.ejs') %>
    <div class="container">
        <nav>
            <a href="/new">New Item</a>
        </nav>
        <h1>This is the Users index page</h1>
       <div>
            <% if (currentUser) { %>
                <p>Welcome <%= currentUser.username %></p>
                <div>
                    <form action="/sessions?_method=DELETE" method="POST">
                        <input type="submit" value="Log Out" class="btn-small red" />
                      </form>
                </div>
                <% } else { %>
                    <p><a href="/users/new">Sign Up</a></p>
                    <p><a href="/sessions/new">Log In</a></p>
                <% } %> 
       </div>
    </div>


</body>

</html>